.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #42424f;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 75px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  margin: 0.5rem;
  font-size: large;
  display: flex;
  justify-content: center;
  text-align: center;
}
